<!DOCTYPE html>
<html>
<head>
	<title>YouTube</title>
	<link rel="stylesheet" type="text/css" href="/static/css/styles.css">
	<link rel="icon" type="image/icon" href="favicon_32x32.png" sizes="32x32">
	<script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
	<meta content="width=device-width, initial-scale=1, user-scalable=no" name="viewport"  />
</head>
<body>

	<!--***********START OF HEADER **********-->
	<header class = "header-container stick">
		<div class = "container">
			<div class = "guide-button-box">
				<span class="iconify hamburger" data-icon="ci:hamburger" data-inline="false"></span>
			</div>
			<div class = "logo">	
				<img class = "logo-img" src = "/static/Resources/youtube_logo.webp">
				<span class = "country-code">IN</span>
			</div>
		</div>
		<div class = "search-container">
			<input type="text" placeholder="Search" name="search">
      		<button type="submit">
      			<span class="iconify search-btn" data-icon="ant-design:search-outlined" data-inline="false"></span>
      		</button>
		</div>
		<div class="user-d">
			<button class="user-btn">
				<span class="iconify" data-icon="bx:bxs-video-plus" data-inline="false"></span>
			</button>
			<button class="user-btn">
				<span class="iconify" data-icon="gg:menu-grid-r" data-inline="false"></span>
			</button>
			<button class="user-btn">
				<span class="iconify" data-icon="fa-solid:bell" data-inline="false"></span>
			</button>
			<button class="user-btn" onclick="redirectToProfile()">
				<span class="iconify user" data-icon="carbon:user-avatar-filled" data-inline="false"></span>
			</button>
		</div>
	</header>

	<!--**********END OF HEADER**********-->

	<!--**********START OF SIDEBAR**********-->

		<div class = "sidebar">
			<div class="sidebar-category selected" onclick="showContent('home')">
				<span class="iconify user-icon" data-icon="ci:home-alt-fill" data-inline="false"></span>
				<span>首页</span>
			</div>
			<div class="sidebar-category" onclick="showContent('myVideos')">
				<span class="iconify user-icon" data-icon="ic:baseline-video-library" data-inline="false"></span>
				<span>我的视频</span>
			</div>
			<div class="sidebar-category" onclick="showContent('subscriptions')">
				<span class="iconify user-icon" data-icon="ic:baseline-subscriptions" data-inline="false"></span>
				<span>已关注</span>
			</div>
			
			<hr/>

			<div class = "sidebar-categories">
				<div class = "sidebar-category">
					<span class="iconify user-icon" data-icon="ic:baseline-video-library" data-inline="false"></span>
					<span>视频库</span>
				</div>
				<div class = "sidebar-category">
					<span class="iconify user-icon" data-icon="ic:baseline-history" data-inline="false"></span>
					<span>历史观看</span>
				</div>
				<div class = "sidebar-category">
					<span class="iconify user-icon" data-icon="ant-design:play-square-outlined" data-inline="false"></span>
					<span>我的视频</span>
				</div>
				<div class = "sidebar-category">
					<span class="iconify user-icon" data-icon="ic:baseline-watch-later" data-inline="false"></span>
					<span>稍后再看</span>
				</div>
				<div class = "sidebar-category">
					<span class="iconify user-icon" data-icon="bx:bxs-like" data-inline="false"></span>
					<span>喜欢的视频</span>
				</div>
				<div class = "sidebar-category">
					<span class="iconify user-icon" data-icon="ic:outline-expand-more" data-inline="false"></span>
					<span>展示更多</span>
				</div>
			</div>

			<hr/>

			<div class = "subscription-categories">
				<span class = "head-text">
					关注的人
				</span>
				<div class = "sidebar-category">
					<span class="iconify user-icon" data-icon="carbon:user-avatar-filled" data-inline="false"></span>
					<span>Channel 1</span>
				</div>
				<div class = "sidebar-category">
					<span class="iconify user-icon" data-icon="carbon:user-avatar-filled" data-inline="false"></span>
					<span>Channel 2</span>
				</div>
				<div class = "sidebar-category">
					<span class="iconify user-icon" data-icon="carbon:user-avatar-filled" data-inline="false"></span>
					<span>Channel 3</span>
				</div>
				<div class = "sidebar-category">
					<span class="iconify user-icon" data-icon="carbon:user-avatar-filled" data-inline="false"></span>
					<span>Channel 4</span>
				</div>
				<div class = "sidebar-category">
					<span class="iconify user-icon" data-icon="carbon:user-avatar-filled" data-inline="false"></span>
					<span>Channel 5</span>
				</div>
				<div class = "sidebar-category">
					<span class="iconify user-icon" data-icon="carbon:user-avatar-filled" data-inline="false"></span>
					<span>Channel 6</span>
				</div>
				<div class = "sidebar-category">
					<span class="iconify user-icon" data-icon="carbon:user-avatar-filled" data-inline="false"></span>
					<span>Channel 7</span>
				</div>
				<div class = "sidebar-category">
					<span class="iconify" data-icon="ic:outline-expand-more" data-inline="false"></span>
					<span>Show 40 more</span>
				</div>
			</div>

			<hr/>



			<hr/>

			<div class = "sidebar-bottom-info">
				<a href="/">关于</a>
				<span>© 2024 RUC DBMS</span>
			</div>

			<div class = "sidebar-category-sml">
				<span class="iconify user-icon selected-img" data-icon="ci:home-alt-fill" data-inline="false"></span>
				<span>Home</span>
			</div>
			<div class = "sidebar-category-sml">
				<span class="iconify user-icon" data-icon="ic:baseline-explore" data-inline="false"></span>
				<span>Explore</span>
			</div>
			<div class = "sidebar-category-sml">
				<span class="iconify user-icon" data-icon="ic:baseline-subscriptions" data-inline="false"></span>
				<span>Subscriptions</span>
			</div>
			<div class = "sidebar-category-sml">
				<span class="iconify user-icon" data-icon="ic:baseline-video-library" data-inline="false"></span>
				<span>Library</span>
			</div>
		</div>

	<!--**********END OF SIDEBAR**********-->

	<!--**********START OF HEADER NAVBAR**********-->

	<!-- <div class = "header-navbar">
		<button class = "navbar-element first active">
			All
		</button>
		<button class = "navbar-element">
			Music
		</button>
		<button class = "navbar-element">
			Wildlife
		</button>
		<button class = "navbar-element">
			Education
		</button>
		<button class = "navbar-element">
			Recently Uploaded
		</button>
		<button class = "navbar-element">
			Live
		</button>
		<button class = "navbar-element">
			Tamil
		</button>
		<button class = "navbar-element">
			T-Series
		</button>
		<button class = "navbar-element">
			Cricket
		</button>
		<button class = "navbar-element">
			Sports
		</button>
		<button class = "navbar-element">
			Eating
		</button>
		<button class = "navbar-element">
			Laughter
		</button>
		<button class = "navbar-element">
			Music
		</button>
		<button class = "navbar-element">
			Wildlife
		</button>
		<button class = "navbar-element">
			Education
		</button>
		<button class = "navbar-element">
			Recently Uploaded
		</button>
		<button class = "navbar-element">
			Live
		</button>
		<button class = "navbar-element">
			Tamil
		</button>
	</div> -->

	<!--**********END OF HEADER NAVBAR**********-->

	<!--**********START OF BOTTOM NAVBAR**********-->

	<div class = "btm-nav">
		<div>
			<button class = "btm-btn">
				<span class="iconify user-icon selected-img" data-icon="ci:home-alt-fill" data-inline="false"></span>
			</button>
			<span>Home</span>
		</div>	
		<div>
			<button class = "btm-btn">
				<span class="iconify user-icon" data-icon="ic:round-local-fire-department" data-inline="false"></span>
			</button>
			<span>Trending</span>
		</div>		
		<div>
			<button class = "btm-btn">
				<span class="iconify user-icon" data-icon="ic:baseline-subscriptions" data-inline="false"></span>
			</button>
			<span>Subscriptions</span>
		</div>		
		<div>
			<button class = "btm-btn">
				<span class="iconify user-icon" data-icon="ic:baseline-video-library" data-inline="false"></span>
			</button>
			<span>Library</span>
		</div>			
	</div>

	<!--**********END OF BOTTOM NAVBAR**********-->

	<!--**********START OF MAIN CONTENT**********-->

	<div class = "main-content" id="home">
		<div class = "videos">
			<div class = "videos-container">
				<div class = "video">
					<div class = "video-thumbnail">
						<img src="https://img.youtube.com/vi/PpXUTUXU7Qc/maxresdefault.jpg" alt = "" />
					</div>					

					<div class = "video-details">
						<div class = "author">
							<span class="iconify video-icon" data-icon="carbon:user-avatar-filled" data-inline="false"></span>
						</div>

						<div class = "title">
							<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
							<a href="">Channel 1</a>
							<span>10M views • 3 Months Ago</span>
						</div>
					</div>
				</div>

				<div class = "video">
					<div class = "video-thumbnail">
						<img src="https://img.youtube.com/vi/PpXUTUXU7Qc/maxresdefault.jpg" alt = "" />
					</div>					

					<div class = "video-details">
						<div class = "author">
							<span class="iconify video-icon" data-icon="carbon:user-avatar-filled" data-inline="false"></span>
						</div>

						<div class = "title">
							<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
							<a href="">Channel 1</a>
							<span>10M views • 3 Months Ago</span>
						</div>
					</div>
				</div>

				<div class = "video">
					<div class = "video-thumbnail">
						<img src="https://img.youtube.com/vi/PpXUTUXU7Qc/maxresdefault.jpg" alt = "" />
					</div>					

					<div class = "video-details">
						<div class = "author">
							<span class="iconify video-icon" data-icon="carbon:user-avatar-filled" data-inline="false"></span>
						</div>

						<div class = "title">
							<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
							<a href="">Channel 1</a>
							<span>10M views • 3 Months Ago</span>
						</div>
					</div>
				</div>

				<div class = "video">
					<div class = "video-thumbnail">
						<img src="https://img.youtube.com/vi/PpXUTUXU7Qc/maxresdefault.jpg" alt = "" />
					</div>					

					<div class = "video-details">
						<div class = "author">
							<span class="iconify video-icon" data-icon="carbon:user-avatar-filled" data-inline="false"></span>
						</div>

						<div class = "title">
							<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
							<a href="">Channel 1</a>
							<span>10M views • 3 Months Ago</span>
						</div>
					</div>
				</div>

				<div class = "video">
					<div class = "video-thumbnail">
						<img src="https://img.youtube.com/vi/PpXUTUXU7Qc/maxresdefault.jpg" alt = "" />
					</div>					

					<div class = "video-details">
						<div class = "author">
							<span class="iconify video-icon" data-icon="carbon:user-avatar-filled" data-inline="false"></span>
						</div>

						<div class = "title">
							<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
							<a href="">Channel 1</a>
							<span>10M views • 3 Months Ago</span>
						</div>
					</div>
				</div>

				<div class = "video">
					<div class = "video-thumbnail">
						<img src="https://img.youtube.com/vi/PpXUTUXU7Qc/maxresdefault.jpg" alt = "" />
					</div>					

					<div class = "video-details">
						<div class = "author">
							<span class="iconify video-icon" data-icon="carbon:user-avatar-filled" data-inline="false"></span>
						</div>

						<div class = "title">
							<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
							<a href="">Channel 1</a>
							<span>10M views • 3 Months Ago</span>
						</div>
					</div>
				</div>

				<div class = "video">
					<div class = "video-thumbnail">
						<img src="https://img.youtube.com/vi/PpXUTUXU7Qc/maxresdefault.jpg" alt = "" />
					</div>					

					<div class = "video-details">
						<div class = "author">
							<span class="iconify video-icon" data-icon="carbon:user-avatar-filled" data-inline="false"></span>
						</div>

						<div class = "title">
							<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
							<a href="">Channel 1</a>
							<span>10M views • 3 Months Ago</span>
						</div>
					</div>
				</div>

				<div class = "video">
					<div class = "video-thumbnail">
						<img src="https://img.youtube.com/vi/PpXUTUXU7Qc/maxresdefault.jpg" alt = "" />
					</div>					

					<div class = "video-details">
						<div class = "author">
							<span class="iconify video-icon" data-icon="carbon:user-avatar-filled" data-inline="false"></span>
						</div>

						<div class = "title">
							<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
							<a href="">Channel 1</a>
							<span>10M views • 3 Months Ago</span>
						</div>
					</div>
				</div>

				<div class = "video">
					<div class = "video-thumbnail">
						<img src="https://img.youtube.com/vi/PpXUTUXU7Qc/maxresdefault.jpg" alt = "" />
					</div>					

					<div class = "video-details">
						<div class = "author">
							<span class="iconify video-icon" data-icon="carbon:user-avatar-filled" data-inline="false"></span>
						</div>

						<div class = "title">
							<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
							<a href="">Channel 1</a>
							<span>10M views • 3 Months Ago</span>
						</div>
					</div>
				</div>

				<div class = "video">
					<div class = "video-thumbnail">
						<img src="https://img.youtube.com/vi/PpXUTUXU7Qc/maxresdefault.jpg" alt = "" />
					</div>					

					<div class = "video-details">
						<div class = "author">
							<span class="iconify video-icon" data-icon="carbon:user-avatar-filled" data-inline="false"></span>
						</div>

						<div class = "title">
							<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
							<a href="">Channel 1</a>
							<span>10M views • 3 Months Ago</span>
						</div>
					</div>
				</div>

				<div class = "video">
					<div class = "video-thumbnail">
						<img src="https://img.youtube.com/vi/PpXUTUXU7Qc/maxresdefault.jpg" alt = "" />
					</div>					

					<div class = "video-details">
						<div class = "author">
							<span class="iconify video-icon" data-icon="carbon:user-avatar-filled" data-inline="false"></span>
						</div>

						<div class = "title">
							<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
							<a href="">Channel 1</a>
							<span>10M views • 3 Months Ago</span>
						</div>
					</div>
				</div>

				<div class = "video">
					<div class = "video-thumbnail">
						<img src="https://img.youtube.com/vi/PpXUTUXU7Qc/maxresdefault.jpg" alt = "" />
					</div>					

					<div class = "video-details">
						<div class = "author">
							<span class="iconify video-icon" data-icon="carbon:user-avatar-filled" data-inline="false"></span>
						</div>

						<div class = "title">
							<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
							<a href="">Channel 1</a>
							<span>10M views • 3 Months Ago</span>
						</div>
					</div>
				</div>

				<div class = "video">
					<div class = "video-thumbnail">
						<img src="https://img.youtube.com/vi/PpXUTUXU7Qc/maxresdefault.jpg" alt = "" />
					</div>					

					<div class = "video-details">
						<div class = "author">
							<span class="iconify video-icon" data-icon="carbon:user-avatar-filled" data-inline="false"></span>
						</div>

						<div class = "title">
							<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
							<a href="">Channel 1</a>
							<span>10M views • 3 Months Ago</span>
						</div>
					</div>
				</div>

				<div class = "video">
					<div class = "video-thumbnail">
						<img src="https://img.youtube.com/vi/PpXUTUXU7Qc/maxresdefault.jpg" alt = "" />
					</div>					

					<div class = "video-details">
						<div class = "author">
							<span class="iconify video-icon" data-icon="carbon:user-avatar-filled" data-inline="false"></span>
						</div>

						<div class = "title">
							<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
							<a href="">Channel 1</a>
							<span>10M views • 3 Months Ago</span>
						</div>
					</div>
				</div>

				<div class = "video">
					<div class = "video-thumbnail">
						<img src="https://img.youtube.com/vi/PpXUTUXU7Qc/maxresdefault.jpg" alt = "" />
					</div>					

					<div class = "video-details">
						<div class = "author">
							<span class="iconify video-icon" data-icon="carbon:user-avatar-filled" data-inline="false"></span>
						</div>

						<div class = "title">
							<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
							<a href="">Channel 1</a>
							<span>10M views • 3 Months Ago</span>
						</div>
					</div>
				</div>

				<div class = "video">
					<div class = "video-thumbnail">
						<img src="https://img.youtube.com/vi/PpXUTUXU7Qc/maxresdefault.jpg" alt = "" />
					</div>					

					<div class = "video-details">
						<div class = "author">
							<span class="iconify video-icon" data-icon="carbon:user-avatar-filled" data-inline="false"></span>
						</div>

						<div class = "title">
							<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
							<a href="">Channel 1</a>
							<span>10M views • 3 Months Ago</span>
						</div>
					</div>
				</div>

				<div class = "video">
					<div class = "video-thumbnail">
						<img src="https://img.youtube.com/vi/PpXUTUXU7Qc/maxresdefault.jpg" alt = "" />
					</div>					

					<div class = "video-details">
						<div class = "author">
							<span class="iconify video-icon" data-icon="carbon:user-avatar-filled" data-inline="false"></span>
						</div>

						<div class = "title">
							<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
							<a href="">Channel 1</a>
							<span>10M views • 3 Months Ago</span>
						</div>
					</div>
				</div>

				<div class = "video">
					<div class = "video-thumbnail">
						<img src="https://img.youtube.com/vi/PpXUTUXU7Qc/maxresdefault.jpg" alt = "" />
					</div>					

					<div class = "video-details">
						<div class = "author">
							<span class="iconify video-icon" data-icon="carbon:user-avatar-filled" data-inline="false"></span>
						</div>

						<div class = "title">
							<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
							<a href="">Channel 1</a>
							<span>10M views • 3 Months Ago</span>
						</div>
					</div>
				</div>

				<div class = "video">
					<div class = "video-thumbnail">
						<img src="https://img.youtube.com/vi/PpXUTUXU7Qc/maxresdefault.jpg" alt = "" />
					</div>					

					<div class = "video-details">
						<div class = "author">
							<span class="iconify video-icon" data-icon="carbon:user-avatar-filled" data-inline="false"></span>
						</div>

						<div class = "title">
							<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
							<a href="">Channel 1</a>
							<span>10M views • 3 Months Ago</span>
						</div>
					</div>
				</div>

				<div class = "video">
					<div class = "video-thumbnail">
						<img src="https://img.youtube.com/vi/PpXUTUXU7Qc/maxresdefault.jpg" alt = "" />
					</div>					

					<div class = "video-details">
						<div class = "author">
							<span class="iconify video-icon" data-icon="carbon:user-avatar-filled" data-inline="false"></span>
						</div>

						<div class = "title">
							<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
							<a href="">Channel 1</a>
							<span>10M views • 3 Months Ago</span>
						</div>
					</div>
				</div>

				<div class = "video">
					<div class = "video-thumbnail">
						<img src="https://img.youtube.com/vi/PpXUTUXU7Qc/maxresdefault.jpg" alt = "" />
					</div>					

					<div class = "video-details">
						<div class = "author">
							<span class="iconify video-icon" data-icon="carbon:user-avatar-filled" data-inline="false"></span>
						</div>

						<div class = "title">
							<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
							<a href="">Channel 1</a>
							<span>10M views • 3 Months Ago</span>
						</div>
					</div>
				</div>

				<div class = "video">
					<div class = "video-thumbnail">
						<img src="https://img.youtube.com/vi/PpXUTUXU7Qc/maxresdefault.jpg" alt = "" />
					</div>					

					<div class = "video-details">
						<div class = "author">
							<span class="iconify video-icon" data-icon="carbon:user-avatar-filled" data-inline="false"></span>
						</div>

						<div class = "title">
							<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
							<a href="">Channel 1</a>
							<span>10M views • 3 Months Ago</span>
						</div>
					</div>
				</div>

				<div class = "video">
					<div class = "video-thumbnail">
						<img src="https://img.youtube.com/vi/PpXUTUXU7Qc/maxresdefault.jpg" alt = "" />
					</div>					

					<div class = "video-details">
						<div class = "author">
							<span class="iconify video-icon" data-icon="carbon:user-avatar-filled" data-inline="false"></span>
						</div>

						<div class = "title">
							<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
							<a href="">Channel 1</a>
							<span>10M views • 3 Months Ago</span>
						</div>
					</div>
				</div>

				<div class = "video">
					<div class = "video-thumbnail">
						<img src="https://img.youtube.com/vi/PpXUTUXU7Qc/maxresdefault.jpg" alt = "" />
					</div>					

					<div class = "video-details">
						<div class = "author">
							<span class="iconify video-icon" data-icon="carbon:user-avatar-filled" data-inline="false"></span>
						</div>

						<div class = "title">
							<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
							<a href="">Channel 1</a>
							<span>10M views • 3 Months Ago</span>
						</div>
					</div>
				</div>				
			</div>
		</div>
	</div>

	<div class = "main-content" id="myVideos" style="display:none;">
		<div class = "videos">
			<div class = "videos-container">
				<div class = "video">
					<div class = "video-thumbnail">
						<img src="https://img.youtube.com/vi/PpXUTUXU7Qc/maxresdefault.jpg" alt = "" />
					</div>					

					<div class = "video-details">
						<div class = "author">
							<span class="iconify video-icon" data-icon="carbon:user-avatar-filled" data-inline="false"></span>
						</div>

						<div class = "title">
							<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
							<a href="">Channel 1</a>
							<span>10M views • 3 Months Ago</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="main-content" id="subscriptions" style="display:none;">
		<div class="subscription-list">
		<hr/>
			<div class="subscription-item">
				<img src="/static/images/user3.jpeg" alt="Channel 1">
				<span>Channel 1</span>
			</div>
		<hr/>
			<div class="subscription-item">
				<img src="/static/images/user3.jpeg" alt="Channel 2">
				<span>Channel 2</span>
			</div>
			<!-- 更多博主项 -->
		<hr/>
		</div>
	</div>


	<!--**********END OF MAIN CONTENT**********-->
	<script type="text/javascript" src = "/static/js/script.js"></script>
	<script>
		function showContent(contentId) {
			// 隐藏所有内容区域
			var contents = document.querySelectorAll('.main-content');
			contents.forEach(function(content) {
				content.style.display = 'none';
			});
		
			// 显示点击的内容区域
			document.getElementById(contentId).style.display = 'block';
		
			// 移除所有侧边栏项的选中状态
			var categories = document.querySelectorAll('.sidebar-category');
			categories.forEach(function(category) {
				category.classList.remove('selected');
			});
		
			// 为当前点击的侧边栏项添加选中状态
			event.currentTarget.classList.add('selected');
		}
		
		// 默认显示首页内容
		document.addEventListener('DOMContentLoaded', function() {
			showContent('home');

		});

		function redirectToProfile() {
            window.location.href = 'user.html'; // 更新为你的个人主页文件路径
            }
	</script>
</body>
</html>
