<!DOCTYPE html>
<html>
<head>
    <title>YouTube</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    <link rel="icon" type="image/icon" href="/Resources/favicon_32x32.png" sizes="32x32">
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    <meta content="width=device-width, initial-scale=1, user-scalable=no" name="viewport"  />
</head>
<script>
    // 将后端传递的 username 放在这里
    const username = "{{ username }}"; 
    console.log("Username from session:", username);
</script>
<body>
    <!--***********START OF HEADER **********-->
	<header class = "header-container stick">
		<div class = "container">
			<div class = "guide-button-box">
				<span class="iconify hamburger" data-icon="ci:hamburger" data-inline="false"></span>
			</div>
			<div class = "logo">	
				<img class = "logo-img" src = "/static/Resources/youtube_logo.webp">
				<span class = "country-code">IN</span>
			</div>
		</div>
		<div class = "search-container">
			<input type="text" placeholder="Search" name="search">
      		<button type="submit">
      			<span class="iconify search-btn" data-icon="ant-design:search-outlined" data-inline="false"></span>
      		</button>
		</div>
		<div class="user-d">
			<button class="user-btn">
				<span class="iconify" data-icon="bx:bxs-video-plus" data-inline="false"></span>
			</button>
			<button class="user-btn">
				<span class="iconify" data-icon="gg:menu-grid-r" data-inline="false"></span>
			</button>
			<button class="user-btn">
				<span class="iconify" data-icon="fa-solid:bell" data-inline="false"></span>
			</button>
			<!--**********USER LOGIN**********-->
			<a href="/login"> <!--修改页面路径为login-->
				<button class="user-btn"> 
					<span class="iconify user" data-icon="carbon:user-avatar-filled" data-inline="false"></span>
				</button>
			</a>
		</div>
	</header>
    
    <div class = "sidebar">
        <div class="sidebar-category">
            <a href = "/">
                <button class = "home-button">
                    <span class="iconify user-icon" data-icon="ci:home-alt-fill" data-inline="false"></span>
                    <span>首页</span>
                </button>
            </a>
        </div>
        <div class="sidebar-category" onclick="showContent('subscriptions')">
            <a href = '/search_sub'>
                <button class = "like-button">
                    <span class="iconify user-icon" data-icon="ic:baseline-video-library" data-inline="false"></span>
                    <span>我的订阅</span>
                </button>
            </a>
        </div>
        <div class="sidebar-category" onclick="showContent('subscriptions')">
            <span class="iconify user-icon" data-icon="ic:baseline-subscriptions" data-inline="false"></span>
            <span>已关注</span>
        </div>
        
        <hr/>

        <div class = "sidebar-categories">
            <div class = "sidebar-category">
                <span class="iconify user-icon" data-icon="ic:baseline-video-library" data-inline="false"></span>
                <span>视频库</span>
            </div>
            <div class = "sidebar-category">
                <a href = '/search_history'>
                    <button class = "like-button">
                        <span class="iconify user-icon" data-icon="ic:baseline-history" data-inline="false"></span>
                        <span>历史观看</span>
                    </button>
                </a>
            </div>
            <div class = "sidebar-category">
                <span class="iconify user-icon" data-icon="ant-design:play-square-outlined" data-inline="false"></span>
                <span>我的视频</span>
            </div>
            <div class = "sidebar-category">
                <span class="iconify user-icon" data-icon="ic:baseline-watch-later" data-inline="false"></span>
                <span>稍后再看</span>
            </div>
            <div class = "sidebar-category selected">
                <a href="/search_liked">
                    <button class="like-button">
                        <span class="iconify user-icon" data-icon="bx:bxs-like" data-inline="false"></span>
                        <span>喜欢的视频</span>
                    </button>
                </a>
            </div>
            <div class = "sidebar-category">
                <span class="iconify user-icon" data-icon="ic:outline-expand-more" data-inline="false"></span>
                <span>展示更多</span>
            </div>
        </div>


        <hr/>

        <div class = "subscription-categories">
            <span class = "head-text">
                关注的人
            </span>
            <div class = "sidebar-category">
                <span class="iconify user-icon" data-icon="carbon:user-avatar-filled" data-inline="false"></span>
                <span>Channel 1</span>
            </div>
            <div class = "sidebar-category">
                <span class="iconify user-icon" data-icon="carbon:user-avatar-filled" data-inline="false"></span>
                <span>Channel 2</span>
            </div>
            <div class = "sidebar-category">
                <span class="iconify user-icon" data-icon="carbon:user-avatar-filled" data-inline="false"></span>
                <span>Channel 3</span>
            </div>
            <div class = "sidebar-category">
                <span class="iconify user-icon" data-icon="carbon:user-avatar-filled" data-inline="false"></span>
                <span>Channel 4</span>
            </div>
            <div class = "sidebar-category">
                <span class="iconify user-icon" data-icon="carbon:user-avatar-filled" data-inline="false"></span>
                <span>Channel 5</span>
            </div>
            <div class = "sidebar-category">
                <span class="iconify user-icon" data-icon="carbon:user-avatar-filled" data-inline="false"></span>
                <span>Channel 6</span>
            </div>
            <div class = "sidebar-category">
                <span class="iconify user-icon" data-icon="carbon:user-avatar-filled" data-inline="false"></span>
                <span>Channel 7</span>
            </div>
            <div class = "sidebar-category">
                <span class="iconify" data-icon="ic:outline-expand-more" data-inline="false"></span>
                <span>Show 40 more</span>
            </div>
        </div>

        <hr/>



        <hr/>

        <div class = "sidebar-bottom-info">
            <a href="/">关于</a>
            <span>© 2024 RUC DBMS</span>
        </div>

        <div class = "sidebar-category-sml">
            <span class="iconify user-icon selected-img" data-icon="ci:home-alt-fill" data-inline="false"></span>
            <span>Home</span>
        </div>
        <div class = "sidebar-category-sml">
            <span class="iconify user-icon" data-icon="ic:baseline-explore" data-inline="false"></span>
            <span>Explore</span>
        </div>
        <div class = "sidebar-category-sml">
            <span class="iconify user-icon" data-icon="ic:baseline-subscriptions" data-inline="false"></span>
            <span>Subscriptions</span>
        </div>
        <div class = "sidebar-category-sml">
            <span class="iconify user-icon" data-icon="ic:baseline-video-library" data-inline="false"></span>
            <span>Library</span>
        </div>
    </div>

    <div class="main-content" id="home">
        <div class="subscription-list">
            {% if subscriptions %}
                {% for subscription in subscriptions %}
                    <div class="subscription-item">
                        <div class="subscription-thumbnail">
                            <img src="{{ subscription.Picture }}" alt=""/>
                        </div>
                        <div class="subscription-details">
                            <span>{{ subscription.UserName }}</span>
                            <p>{{ subscription.Bio }}</p>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>No subscriptions available.</p>
            {% endif %}
        </div>
    </div>

    <script>
		function showContent(contentId) {
			// 隐藏所有内容区域
			var contents = document.querySelectorAll('.main-content');
			contents.forEach(function(content) {
				content.style.display = 'none';
			});
		
			// 显示点击的内容区域
			document.getElementById(contentId).style.display = 'block';
		
			// 移除所有侧边栏项的选中状态
			var categories = document.querySelectorAll('.sidebar-category');
			categories.forEach(function(category) {
				category.classList.remove('selected');
			});
		}
		
        function redirectToProfile() {
            // 将浏览器重定向到 user.html 页面
            window.location.href = '/user';
		}

		// 默认显示首页内容
		document.addEventListener('DOMContentLoaded', function() {
			showContent('home');

		});
	</script>

</body>
</html>
